.profile__edit-btn {
  all: unset;

  width: 18px;
  height: 18px;

  background: url(../../../Images/icons/profile__edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;

  padding: 0 0 0 22px;

  cursor: pointer;

  transition: opacity ease-in-out 0.3s;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

.profile__edit-btn:active {
  opacity: 1;
}

@media screen and (min-width: 680px) {
  .profile__edit-btn {
    height: 20px;
    width: 20px;

    background-size: 20px;

    padding: 0 0 0 30px;
  }
}


@media screen and (min-width: 1082px) {
  .profile__edit-btn {
    height: 24px;
    width: 24px;

    background-size: 24px;

    padding: 0 0 0 38px;
  }
}
