.profile__add-btn {
  all: unset;

  margin: 32px 0 0 0;

  height: 50px;
  width: 282px;

  background: url(../../../Images/icons/profile__add-button.svg);
  background-repeat: no-repeat;
  background-position: center;

  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;

  cursor: pointer;

  transition: opacity ease-in-out 0.3s;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

.profile__add-btn:active {
  opacity: 1;
}

@media screen and (min-width: 680px) {
  .profile__add-btn {
    width: 200px;

    background-size: 22px 22px;

    margin: 0 0 0 auto;
  }
}

@media screen and (min-width: 1082px) {
  .profile__add-btn {
    width: 150px;
  }
}
