.profile__user-nickname {
  all: unset;

  padding: 0 0 0 38px;

  font-weight: 500;
  font-size: 27px;
  line-height: 33px;

  max-width: 70vw;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 680px) {
  .profile__user-nickname {
    padding: 0;

    font-size: 30px;
    line-height: 33px;

    max-width: 40vw;
  }
}

@media screen and (min-width: 1082px) {
  .profile__user-nickname {

    font-size: 42px;
    line-height: 48px;

    max-width: 30vw;
  }
}
