.profile__portrait-edit-btn {
  all: unset;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.profile__portrait-edit-btn::before {
  content:'';
  background-image: url(../../../Images/icons/profile__edit-button-2.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.profile__portrait-edit-btn:hover::before {
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  transition: opacity .3s ease-in;
}

