.footer__copyright {
  all: unset;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;

  color: #545454;
}

@media screen and (min-width: 680px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
}
