.profile {
  margin: 42px 0 0 0;
}

@media screen and (min-width: 680px) {
  .profile {
    width: 90%;
    margin: 40px auto 0 auto;
  }
}

@media screen and (min-width: 1082px) {
  .profile {
    width: 880px;
  }
}
