.footer {
  margin: 48px 0 36px 19px;
}


@media screen and (min-width: 680px) {
  .footer {
    width: 90%;
    margin: 67px auto 60px auto;
  }
}

@media screen and (min-width: 1082px) {
  .footer {
    width: 880px;
  }
}
