.popup__content {
  background: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  padding: 25px 22px;

  box-sizing: border-box;
  position: fixed;

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  max-width: 282px;
}

@media screen and (min-width: 680px) {
  .popup__content {
    max-width: 350px;
    padding: 35px 28px;
  }
}

@media screen and (min-width: 1082px) {
  .popup__content {
    max-width: 430px;
    padding: 34px 36px;
  }
}
