.popup__form-field {
  all: unset;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  min-width: 100%;

  padding: 0 0 8px 0;

  overflow: hidden;
  text-overflow: ellipsis;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-field:nth-child(2) {
  margin: 0 0 14px 0;
}

@media screen and (min-width: 1082px) {
  .popup__form-field:nth-child(2) {
    margin: 0 0 22px 0;
  }
}
