.popup__save-btn {
  all: unset;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  border-radius: 2px;

  color:#fff;
  background-color: #000;

  margin: 0;

  width: 238px;
  height: 46px;

  transition: opacity ease-in-out 0.3s;
  cursor: pointer;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1082px) {
  .popup__save-btn {
    width: 358px;
    height: 50px;

    margin: 0 0 3px 0;

    font-size: 18px;
    line-height: 22px;
  }
}
