.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  color: #000;

  background: rgba(0, 0, 0, 0.5);

  z-index: 99;
}


